  body {
    margin: 0;
    background-color: #1c1c1c;
    color: #468a1a;
	font-family: Hack, "Source Code Pro", "Inconsolata", "Ubuntu", "Andale Mono", "Lucida Console", monospace;
    overflow: hidden;
  }

  header {
    background-color: #2b2b2b;
    color: #7fd13b;
    text-align: center;
    padding: 10px 0;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: 2px solid #468a1a;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2b2b2b;
    color: #888;
    text-align: center;
    padding: 8px 0;
    font-size: 0.9em;
    border-top: 1px solid #333;
  }


  /*#main-canvas {
    position: relative;
    left: 220px;
    top: 60px;
    bottom: 40px;
    right: 0;
  }*/

  #main-canvas {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: #1c1c1c;
}

  button, .sensor {
    background: none;
    border: 1px solid #468a1a;
    color: #7fd13b;
    padding: 6px 10px;
    border-radius: 8px;
    margin: 4px;
    cursor: pointer;
    transition: 0.3s;
  }

  button:hover, .sensor:hover {
    background-color: #468a1a;
    color: #1c1c1c;
  }


  .chart-container {
  margin: 20px;
  background-color: #2a2a2a;
  border: 2px solid #468a1a;
  border-radius: 10px;
  padding: 10px;
  color: #e8d9b5;
}

  canvas#sensorChart {
    width: 100%;
    height: 200px;
  }


 /* Sidebar retrátil */
#sidebar {
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 40px;
  width: 240px;
  background-color: #3c2f2f;
  padding: 10px;
  overflow-y: auto;
  box-shadow: 2px 0 6px rgba(0,0,0,0.5);
  border: 5px solid #e8d9b5;
  transition: transform 0.4s ease;
  z-index: 5;
}

#sidebar.closed {
  transform: translateX(-100%);
}

/* Botão de abrir/fechar */
.toggle-btn {
  position: fixed;
  top: 70px;
  left: 10px;
  z-index: 10;
  background-color: #468a1a;
  border: 2px solid #e8d9b5;
  color: #1c1c1c;
  font-size: 20px;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: left 0.4s ease, background-color 0.3s;
}

.toggle-btn:hover {
  background-color: #7fd13b;
}

/* Empurrar a área 3D (container principal) */
#mainContent {
  transition: margin-left 0.4s ease;
  margin-left: 0;
}

/* Quando o painel abre, empurra o conteúdo */
#sidebar:not(.closed) ~ #mainContent {
  margin-left: 250px;
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
  #sidebar {
    width: 70%;
    font-size: 0.9em;
    padding: 10px;
  }

  #toggleSidebar {
    top: 15px;
    left: 10px;
    padding: 6px 10px;
    font-size: 1em;
  }

  #main-canvas {
    width: 100vw;
    height: calc(100vh - 60px);
  }

  .chart-container {
    width: 90%;
    right: 5%;
    bottom: 15px;
  }

  header {
    font-size: 1.2em;
  }
}